:host {
    ion-content {
        --background: #161616 !important;
        color: #ffffff;
    }
}

ion-item {
    color: #fff;
    --background: #333;
    margin-bottom: 20px;
}

ion-button {
    --background: #4caf50;
}

ion-label {
    color: #bbb;
}

ion-content {
    --background: #000;
}

.vehicle-marker {
    font-size: 2rem;
}

ion-card {
    margin-top: 10px;
}

#map {
    width: 100%;
    height: 250px;

}