:host {
    ion-content {
    --background: #161616 !important;
    color: #ffffff;
    }
}
.restablecer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

ion-card {
    --background: #1c1c1e;
    color: #ffffff;
}

ion-card-title, ion-card-subtitle {
    color: #ffffff;
}

ion-item {
    --background: #2c2c2e;
    --color-focused: #ffffff;
    --color-activated: #ffffff;
}

ion-input {
    color: #ffffff;
}

ion-button {
    --background: #007bff;
    --color: #ffffff;
}
